name: Build Release APK

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
        type: string


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    
    - name: Setup Android environment
      uses: android-actions/setup-android@v3


    - name: download latest Mahsa-core aar
      uses: robinraju/release-downloader@v1
      with:
        repository: 'GFW-knocker/AndroidLibXrayLite'
        latest: true
        fileName: 'libv2ray.aar'
        out-file-path: '${{ github.workspace }}/V2rayNG/app/libs/'


    - name: Decode Keystore
      env:
        ENCODED_KEYSTORE: ${{ secrets.KEYSTORE }}
      run: |
        echo $ENCODED_KEYSTORE | base64 -d > keystore.jks


    - name: Build Signed APK
      env:
        KEYSTORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: |
        cd ${{ github.workspace }}/V2rayNG
        chmod 755 gradlew
        ./gradlew assembleRelease \
          -Pandroid.injected.signing.store.file=${{ github.workspace }}/keystore.jks \
          -Pandroid.injected.signing.store.password=$KEYSTORE_PASSWORD \
          -Pandroid.injected.signing.key.alias=$KEY_ALIAS \
          -Pandroid.injected.signing.key.password=$KEY_PASSWORD


    - name: check filenames
      run: |
        cd ${{ github.workspace }}/V2rayNG/app/build/outputs/apk/release/
        ls


    - name: Upload NikaNG to release
      uses: svenstaro/upload-release-action@v2
      with:
        file: ${{ github.workspace }}/V2rayNG/app/build/outputs/apk/release/*.apk
        tag: ${{ github.event.inputs.release_tag }}
        file_glob: true
      

